[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "0.115.12"
sqlalchemy = "2.0.40"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.0"
